* {
  box-sizing: border-box;
}

/* Estilos adicionales para el tema oscuro */ 
:root { 
  --background-color: #121212; 
  --text-color: #ffffff; 
  --link-color: #ffa726; 
} 

/*body { 
  background-color: var(--background-color); 
  color: var(--text-color); 
}*/ 

.navbar, 
.card, 
.button { 
  background-color: #333333; 
} 

a {
  color: var(--link-color); 
} 

a:hover { 
  color: #ff9800; 
}